@model CapStoneApp.Models.ApiViewModel

@{
    ViewBag.Title = "CandidatesDetails";
}

<h2>Personal Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hometown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hometown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Children)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Children)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Polling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Polling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
