@model CapStoneApp.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Party)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>

        <dd>
            @ViewBag.Liked
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DislikeId)
        </dt>

        <dd>
            @ViewBag.Dislike
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateName)
        </dt>

        <dd>
            @ViewBag.VoteFor
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Details", new { delete = true })
</p>
<p>
    @{
        Html.RenderAction("Delete", new { delete = ViewBag.Delete });
    }
</p>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<script src="~/Scripts/canvasjs.min.js"></script>
<script type="text/javascript">
    if (@ViewBag.Dem == true) {
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light2",
                    title: {
                        text: "Democratic Candidates Polling"
                    },
                    data: [
                        {
                            type: "pie",
                            showInLegend: true,
                            toolTipContent: "#percent %",
                            legendText: "{indexLabel}",
                            dataPoints: [
                                { y: 4, indexLabel: "Andrew Yang" },
                                { y: 24, indexLabel: "Bernie Sanders" },
                                { y: 1, indexLabel: "Michael Bennet" },
                                { y: 5, indexLabel: "Amy Klobuchar" },
                                { y: 14, indexLabel: "Elizabeth Warren" },
                                { y: 1, indexLabel: "Tulsi Gabbard" },
                                { y: 27, indexLabel: "Joe Biden" },
                                { y: 1, indexLabel: "Deval Patrick" },
                                { y: 8, indexLabel: "Michael Bloomberg" },
                                { y: 7, indexLabel: "Peter Buttigieg" },
                                { y: 2, indexLabel: "Tom Steyer" },
                            ]
                        }
                    ]
                });
            chart.render();
        }
    }
    else if (@ViewBag.Rep == true) {
                window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light2",
                    title: {
                        text: "Republican Candidates Polling"
                    },
                    data: [
                        {
                            type: "pie",
                            showInLegend: true,
                            toolTipContent: "#percent %",
                            legendText: "{indexLabel}",
                            dataPoints: [
                                { y: 84, indexLabel: "Donald Trump" },
                                { y: 0, indexLabel: "Rocky De La Fuente" },
                                { y: 16, indexLabel: "William Weld" },
                            ]
                        }
                    ]
                });
            chart.render();
        }
    }  
</script>

