@model CapStoneApp.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Party)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Party)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Details", new { delete = true }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @{
        Html.RenderAction("Delete", new { delete = ViewBag.Delete });
    }
</p>