@model IEnumerable<CapStoneApp.Models.ApiViewModel>

@{
    ViewBag.Title = "Vote";
}

@if (ViewBag.Voted == null)
{
    <div>
        <h2 align="center"></h2>
        <h4 align="center"></h4>

        <p align="center"></p>
    </div>

    <table align="center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            using (Html.BeginForm(new { name = item.Name }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => item.Id)
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Party)
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Vote For Candidate" class="btn btn-default" />
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <h2 align="center">Thank You For Voting.</h2>
    <h4 align="center">Don't forget to vote in real life. Here is the current polling of this mock election.</h4>

    <div id="chartContainer" style="height: 300px; width: 100%; opacity:.8"></div>

    <script src="~/Scripts/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "light2",
                    title: {
                        text: "Democratic Candidates Polling"
                    },
                    data: [
                        {
                            type: "pie",
                            showInLegend: true,
                            toolTipContent: "#percent %",
                            legendText: "{indexLabel}",
                            dataPoints: [
                                { y: @ViewBag.Yang, indexLabel: "Andrew Yang" },
                                { y: @ViewBag.Bernie, indexLabel: "Bernie Sanders" },
                                { y: @ViewBag.Bennet, indexLabel: "Michael Bennet" },
                                { y: @ViewBag.Amy, indexLabel: "Amy Klobuchar" },
                                { y: @ViewBag.Liz, indexLabel: "Elizabeth Warren" },
                                { y: @ViewBag.Tulsi, indexLabel: "Tulsi Gabbard" },
                                { y: @ViewBag.Joe, indexLabel: "Joe Biden" },
                                { y: @ViewBag.Deval, indexLabel: "Deval Patrick" },
                                { y: @ViewBag.Bloom, indexLabel: "Michael Bloomberg" },
                                { y: @ViewBag.Peter, indexLabel: "Peter Buttigieg" },
                                { y: @ViewBag.Tom, indexLabel: "Tom Steyer" },
                                { y: @ViewBag.Rocky, indexLabel: "Rocky De La Fuente" },
                                { y: @ViewBag.Weld, indexLabel: "William Weld" },
                                { y: @ViewBag.Trump, indexLabel: "Donald Trump" },
                            ]
                        }
                    ]
                });
            chart.render();
        }
    </script>
}
