@model IEnumerable<CapStoneApp.Models.Content>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Name</h2>

<table class="table">
    <tr>
        <th style="width:10%">
            @Html.DisplayNameFor(model => model.Client.ApplicationUser.UserName)
        </th>
        <th width="80%">
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (ViewBag.ContentId == item.Id)
            {
                <td style="border:inset 2px">
                    @Html.DisplayFor(modelItem => item.Client.ApplicationUser.UserName)
                </td>
                <td style="border:inset 2px">
                    @Html.TextBoxFor(modelItem => item.Message)
                </td>
                <td style="background-color:lightgrey">
                    @if (ViewBag.UserId == item.ClientId || User.IsInRole("Admin") == true)
                    {
                        @Html.ActionLink("Edit", "Index", new { id = item.Id, isTrue = true })<text> |</text>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, isTrue = true })
                    }
                </td>
            }
            @if (ViewBag.IsTrue == null || ViewBag.ContentId != item.Id)
            {
                <td style="border:inset 2px">
                    @Html.DisplayFor(modelItem => item.Client.ApplicationUser.UserName)
                </td>
                <td style="border:inset 2px">
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td style="background-color:lightgrey">
                    @if (ViewBag.UserId == item.ClientId || User.IsInRole("Admin") == true)
                    {
                        @Html.ActionLink("Edit", "Index", new {  forumId = ViewBag.Forum, contentId = item.Id, isTrue = true })<text> |</text>
                        @Html.ActionLink("Delete", "Delete", new {  forumId = ViewBag.Forum, contentId = item.Id, isTrue = true })
                    }
                </td>
            }
        </tr>
    }
</table>

<p>
    @{
        Html.RenderAction("Create", new { id = ViewBag.Forum });
    }
</p>

